span {
  color: red;
}

p {
  color: blue;
}

h1 {
  color: green;
}

h2 {
  color: pink;
}

table {
  color: red;
}

table thead {
  color: green;
}

table tbody {
  color: purple;
}

table tr {
  color: pink;
}
